@using PustokProject.ViewModels.Categories;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model VM_CategoriesIndex;

<div class="container-fluid">
    <a asp-action="CreateCategory" class="btn btn-success">Create</a>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>ParentId</th>
                        <th>ParentName</th>
                        <th colspan="2">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var category in Model.Categories)
                    {
                        <tr style="color:@(category.IsDeleted ? "white" : "black"); background-color:@(category.IsDeleted ? "red" : string.Empty)" colspan="2">
                            <td>@category.Id</td>
                            <td>@category.Name</td>
                            <td>@category.ParentId</td>
                            <td>@(category.Parent?.Name ?? "N/A") </td>
                            <td><a style="display:@(category.IsDeleted ? "none" : string.Empty);)" asp-area="Admin" asp-controller="Categories" asp-action="UpdateCategory" asp-route-id="@category.Id" class="btn btn-warning">Edit</a></td>
                            <td><a style="display:@(category.IsDeleted ? "none" : string.Empty);)" asp-area="Admin" asp-controller="Categories" asp-action="DeleteCategory" asp-route-id="@category.Id" class="btn btn-danger">Delete</a></td>
                            <td><a style="display:@(category.IsDeleted ? string.Empty : "none" );)" asp-area="Admin" asp-action="RevokeDelete" asp-route-id="@category.Id" class="btn btn-primary">Revoke</a></td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>